<main class="main-container">

	<section class="tech-stack-section">
		<div class="container">
		  <h2 class="section-title">Technology Stack</h2>
		  <div class="grid-container">
			<div class="card" *ngFor="let stack of techStacks">
			  <div class="card-header">
				<h3>{{stack.category}} Technology</h3>
			  </div>
			  <div class="card-body">
				<ul>
				  <li *ngFor="let tech of stack.technologies">{{tech}}</li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	<section class="carousel-section">
	  <ngb-carousel>
		<ng-template ngbSlide>
		  <div class="carousel-item">
			<img src="frontend/src/assets/1.jpg" >
			<div class="carousel-caption">
			  <h1>Employee Management System</h1>
			  <p>Streamline your workforce management</p>
			</div>
		  </div>
		</ng-template>
		<ng-template ngbSlide>
		  <div class="carousel-item">
			<img src="frontend/src/assets/bg.jpg">
			<div class="carousel-caption">
			  <h1>Efficient Management</h1>
			  <p>Organize, track, and optimize your team</p>
			</div>
		  </div>
		</ng-template>
	  </ngb-carousel>
	</section>

  </main>